<p>student-page works!</p>

<p *ngIf="studentId">
   Id: {{studentId}}
</p>

<div *ngIf="student">
<p>
    {{student.firstName}} {{student.lastName}}, year: {{student.year}}, semester: {{student.semester}}- {{student.email}}
</p>

<button (click)="deleteStudent()" class="btn btn-primary" type="button">Delete Student</button>
<button (click)="setUpdate()"class="btn btn-primary" type="button">Update Student</button>
<button (click)="switchGrade()" type="button" class="btn btn-primary">Add Grade</button>

<div *ngIf="grade">
  <form [formGroup]="addGradeForm" (ngSubmit)="addGrade()">
 
    <div class="form-group">
      <label>Subject Id</label>
      <input formControlName="subjectId" type="text" class="form-control">
    </div>
  
    <div class="form-group">
      <label>Grade</label>
      <input formControlName="grade" type="text" class="form-control">
    </div>

   <button type="submit" class="btn btn-primary">Add Grade</button>

  </form>
</div>

<div *ngIf="update">
<form [formGroup]="updateStudentForm" (ngSubmit)="updateStudent()">
 
   <div class="form-group">
     <label>First Name</label>
     <input formControlName="firstName" type="text" class="form-control">
   </div>
 
   <div class="form-group">
     <label>Last Name</label>
     <input formControlName="lastName" type="text" class="form-control">
   </div>
 
   <div class="form-group">
     <label for="year">Year:</label>
     <select id="year" formControlName="year">
       <option value="default">Select Year</option>
       <option *ngFor="let year of years" [value]="year">{{ year }}</option>
     </select>
   </div>
 
   <div class="form-group">
     <label for="semester">Semester:</label>
     <select id="semester" formControlName="semester">
       <option value="default">Select Semester</option>
       <option *ngFor="let semester of semesters" [value]="semester">{{ semester }}</option>
     </select>
   </div>
 
   <div class="form-group">
     <label>Email</label>
     <input formControlName="email" type="text" class="form-control">
   </div>
   
   <button type="submit" class="btn btn-primary">Update Student</button>
 </form>
</div>


<div *ngFor="let grade of grades">
  <p>
      {{grade.student.firstName}} {{grade.student.lastName}}, subject: {{grade.subject.name}}, grade: {{grade.grade}}
  </p>
</div>