<h2>Get Students</h2>
<button (click)="getStudents()" type="submit" class="btn btn-primary">Get Students</button>

<ul>
  <li *ngFor="let student of students">
    {{ student.firstName }} {{ student.lastName }}, year: {{student.year}}, semester: {{student.semester}}- {{ student.email }}
  </li>
</ul>

<h2>Add student</h2>

<form [formGroup]="addStudentForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>First Name</label>
    <input formControlName="firstName" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input formControlName="lastName" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="year">Year:</label>
    <select id="year" formControlName="year">
      <option value="default">Select Year</option>
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="semester">Semester:</label>
    <select id="semester" formControlName="semester">
      <option value="default">Select Semester</option>
      <option *ngFor="let semester of semesters" [value]="semester">{{ semester }}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Email</label>
    <input formControlName="email" type="text" class="form-control">
  </div>
  
  <button type="submit" class="btn btn-primary">Add Student</button>
</form>

<app-get-student></app-get-student>
<app-delete-student></app-delete-student>
<app-update-student></app-update-student>

<hr>

<app-get-user></app-get-user>
<app-post-user></app-post-user>

<router-outlet></router-outlet>