<button (click)="switchStudents()" class="btn btn-primary" [ngClass]="{'red-button': showStudent}">Modify Students</button>
<button (click)="switchSubjects()" class="btn btn-primary" [ngClass]="{'red-button': showSubject}">Modify Subjects</button>

<div *ngIf="showStudent">
<h2>Add student</h2>

<form [formGroup]="addStudentForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>First Name</label>
    <input formControlName="firstName" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>Last Name</label>
    <input formControlName="lastName" type="text" class="form-control">
  </div>

  <div class="form-group">
    <label for="year">Year:</label>
    <select id="year" formControlName="year">
      <option value="default">Select Year</option>
      <option *ngFor="let year of years" [value]="year">{{ year }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="semester">Semester:</label>
    <select id="semester" formControlName="semester">
      <option value="default">Select Semester</option>
      <option *ngFor="let semester of semesters" [value]="semester">{{ semester }}</option>
    </select>
  </div>

  <div class="form-group">
    <label>Email</label>
    <input formControlName="email" type="text" class="form-control">
  </div>
  
  <button type="submit" class="btn btn-primary">Add Student</button>
</form>
<app-delete-student></app-delete-student>
<app-update-student></app-update-student>
</div>

<div *ngIf="showSubject">
<app-get-subject></app-get-subject>
<app-add-subject></app-add-subject>
<app-delete-subject></app-delete-subject>
<app-update-subject></app-update-subject>
</div>

<router-outlet></router-outlet>